<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
	integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
	crossorigin="anonymous">

<link rel="stylesheet" href="../css/style.css" />
</head>
<body>

 <header>
        <div class="container">
            <div class="row">
              <nav class="navbar navbar-expand-lg">
                <div class="container-fluid header_top">
                  <a class="navbar-brand" th:href="@{/home}">
                    <i class="fa-solid fa-carrot" style="font-size: 35px; color: green;"></i>
                  </a>
          
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div
                    class="collapse navbar-collapse justify-content-end"
                    id="navbarNav"
                  >
                    <ul class="navbar-nav">
                      <li class="nav-item me-2">
                        <a
                          class="nav-link menu-detail"
                          aria-current="page"
                          th:href="@{/log-in}"
                          >Đăng nhập</a
                        >
                      </li>
                      <li class="nav-item me-2">
                        <a class="nav-link menu-detail" href="#dangKy"
                          >Đăng ký</a
                        >
                      </li>
                      <li class="nav-item me-2">
                        <a class="nav-link menu-detail" href="#doiMatKhau"
                          >Đổi mật khẩu</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </div>
    </header>

    <div class="main mt-5">
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <div class="card border border-0 border-end" style="width: 100%">
                            <div class="card-body">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                  <a class="nav-link" href="#sanPham">Products</a>
                                </li>
                                <li class="list-group-item">
                                  <a class="nav-link" href="#sanPham/Canon">Category</a>
                                </li>
                                
                              </ul>
                            </div>
                          </div>
                    </div>
                    <div class="col-10">

                        <form class="row g-3" th:action="@{/manager/products}" method="post" 
                        th:object="${product}" enctype="multipart/form-data">
                            <!-- name -->
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                              <label class="form-label">Name</label>
                              <input
                                type="text"
                                class="form-control"
                                th:field="*{nameProduct}"/>
                            </div>
                            <div class="col-md-2"></div>
                            <!-- quantity -->
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                              <label class="form-label">Số lượng</label>
                              <input
                                type="text"
                                class="form-control" th:field="*{quantity}"/>
                            </div>
                            <div class="col-md-2"></div>
                            <!-- price -->
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                              <label class="form-label">Price</label>
                              <input
                                type="number"
                                class="form-control" th:field="*{price}"/>
                            </div>
                            <div class="col-md-2"></div>
                            <!-- category -->
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                              <label class="form-label">Category</label>
                              <select class="form-select" th:field="*{categoryId.id}">
                                <option th:each="c : ${listCategory}" th:value="${c.id}" th:text="${c.title}"></option>
                              </select>
                            </div>
                            <div class="col-md-2"></div>
                            <!-- image -->
                            <div class="col-md-2"></div>
                            <div class="col-md-7">
                              <label class="form-label">Image</label>
                              <input
                                type="file"
                                class="form-control" name="file" th:value="${fileEdit}"/>
                            </div>
                  <div class="col-md-2"></div>
                  <div class="col-3"></div>
                            <!-- add -->
                            <div class="col-2 text-center mt-5">
                            <button class="btn btn-warning" style="min-width: 100px" 
                            type="submit" th:formaction="@{/manager/products/create}">
                            Create</button>
                              
                            </div>
                            <!-- update -->
                            <div class="col-2 text-center mt-5">
                            <button class="btn btn-success" style="min-width: 100px" 
                            type="submit" th:formaction="@{/manager/products/update?id=} + ${idEdit}">
                            Update</button>
                              
                            </div>
                            <!-- reset -->
                            <div class="col-2 text-center mt-5">
                              <a
                                type="submit"
                                class="btn btn-success"
                                style="min-width: 100px"
                                th:href="@{/manager/products}"
                              >
                                Reset
                              </a>
                            </div>
                  <div class="col-3"></div>
                          </form>
                          
                          <!-- table -->
                            <div class="row mt-5">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th>
                                    ID
                                    <a th:href="@{/manager/products/} + 'id?type=desc'"><i class="fa-solid fa-arrow-down-wide-short"></i></a> 
                                    <a th:href="@{/manager/products/} + 'id?type=asc'"><i class="fa-solid fa-arrow-down-short-wide"></i></a> 
                                    </th>
                                    <th>Name
                                    <a th:href="@{/manager/products/} + 'nameProduct?type=desc'"><i class="fa-solid fa-arrow-down-wide-short"></i></a> 
                                    <a th:href="@{/manager/products/} + 'nameProduct?type=asc'"><i class="fa-solid fa-arrow-down-short-wide"></i></a>  
                                    </th>
                                    <th>Category
                                    <a th:href="@{/manager/products/} + 'categoryId?type=desc'"><i class="fa-solid fa-arrow-down-wide-short"></i></a> 
                                    <a th:href="@{/manager/products/} + 'categoryId?type=asc'"><i class="fa-solid fa-arrow-down-short-wide"></i></a> 
                                    </th>
                                    <th>
                                    Quantity
                                    <a th:href="@{/manager/products/} + 'quantity?type=desc'"><i class="fa-solid fa-arrow-down-wide-short"></i></a> 
                                    <a th:href="@{/manager/products/} + 'quantity?type=asc'"><i class="fa-solid fa-arrow-down-short-wide"></i></a>  
                                    </th>
                                    <th>
                                    Price
                                    <a th:href="@{/manager/products/} + 'price?type=desc'"><i class="fa-solid fa-arrow-down-wide-short"></i></a> 
                                    <a th:href="@{/manager/products/} + 'price?type=asc'"><i class="fa-solid fa-arrow-down-short-wide"></i></a> 
                                    </th>
                                    <th>Status</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr th:each="p : ${listProducts.content}" >
                                    <td th:text="${p.id}"></td>
                                    <td th:text="${p.nameProduct}"></td>
                                    <td th:text="${p.categoryId.title}"></td>
                                    <td th:text="${p.quantity}"></td>
                                    <td th:text="${p.price}"></td>
                                    <td th:text="${p.status == 1 ? 'Còn hàng' : 'Hết hàng'}"></td>
                                    <td>
                                      <a th:href="@{/manager/products/delete?id=} + ${p.id}">
                                        <i class="fa-solid fa-trash"></i></a>
                                      <a th:href="@{/manager/products/edit?id=} + ${p.id}">
                                        <i class="fa-solid fa-pen"></i></a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            
                            <div class="row mt-4">
						<div class="col-5"></div>
						<div class="col-3">
						<nav aria-label="Page navigation example">
								<ul class="pagination">
									<li class="page-item">
									<a class="page-link" 
									th:href="@{/manager/products/page/} + ${field} + '/' + ${type} + '?page=' +
									 ${listProducts.number == 0 ? 0 : listProducts.number - 1}"
										aria-label="Previous"> 
										<span aria-hidden="true">&laquo;</span>
									</a></li>
									<li class="page-item">
									<a class="page-link" th:href="@{/manager/products/page/} + ${field} + '/' + ${type} + '?page=' +
									 ${listProducts.number}"
									th:text="${listProducts.number + 1}"></a></li>
									<li class="page-item">
									<a class="page-link" th:href="@{/manager/products/page/} + ${field} + '/' + ${type} + '?page=' +
									 ${listProducts.number + 1}"
									th:text="${listProducts.number + 2}"></a></li>
									<li class="page-item">
									<a class="page-link" th:href="@{/manager/products/page/} + ${field} + '/' + ${type} + '?page=' +
									 ${listProducts.number + 2}"
									th:text="${listProducts.number + 3}"></a></li>
									<li class="page-item">
									<a class="page-link" 
									th:href="@{/manager/products/page/} + ${field} + '/' + ${type} + '?page=' +
									 ${listProducts.number == listProducts.totalPages - 1 ? listProducts.totalPages - 1 : listProducts.number + 1}"
										aria-label="Next"> <span aria-hidden="true">&raquo;</span>
									</a></li>
								</ul>
							</nav>
						</div>
						<div class="col-4"></div>
							
						</div> 
                    </div>
                </div>
            </div>
        </section>
    </div>

    <footer class="text-bg-success mt-5">
        <div class="container mt-3">
            <div class="row">
              <div class="col-2 mt-5">
                <h4>About Us</h4>
              </div>
              <div class="col-3 mt-5"><h4>Customer Core</h4></div>
              <div class="col-3 mt-5"><h4>Contact Us</h4></div>
              <div class="col-4 mt-5"><h4>Subscribe</h4></div>
            </div>
          
            <div class="row mt-2">
              <div class="col-2">
                <p class="mb-1">item 1</p>
                <p class="mb-1">item 2</p>
                <p class="mb-1">item 3</p>
                <p class="mb-1">item 4</p>
              </div>
              <div class="col-3">
                <p class="mb-1">item 1</p>
                <p class="mb-1">item 2</p>
                <p class="mb-1">item 3</p>
                <p class="mb-1">item 4</p>
              </div>
              <div class="col-3">
                <p class="mb-1">item 1</p>
                <p class="mb-1">item 2</p>
                <p class="mb-1">item 3</p>
                <p class="mb-1">item 4</p>
              </div>
              <div class="col-4">
                <form class="d-flex" role="SUBSCRIBE">
                  <input
                    class="form-control me-2"
                    type="SUBSCRIBE"
                    placeholder="Enter your email"
                    aria-label="SUBSCRIBE"
                  />
                  <button class="btn btn-success" type="submit">SUBSCRIBE</button>
                </form>
                <div class="row">
                  <div class="col mt-2">
                    <i class="fa-brands fa-cc-visa me-2 ficon"></i>
                    <i class="fa-brands fa-cc-mastercard me-2 ficon"></i>
                    <i class="fa-brands fa-simplybuilt me-2 ficon"></i>
                    <i class="fa-brands fa-sellcast me-2 ficon"></i>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row mt-5 text-center">
              <div class="col">
                <i class="fa-brands fa-facebook me-2 ficon"></i>
                <i class="fa-brands fa-twitter me-2 ficon"></i>
                <i class="fa-brands fa-instagram me-2 ficon"></i>
                <i class="fa-brands fa-github me-2 ficon"></i>
              </div>
            </div>
            <div class="row text-center mt-2">
              <div class="col mb-3">
                <p>@SONNSPH26215-PTPM-FPT Polytechnic</p>
              </div>
            </div>
          </div>
          
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>